In [101]:
#Import the required Libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data Cleaning

### Data Reading & Data Types

In [102]:
#Read the data in pandas
inp0= pd.read_csv("Attribute+DataSet.csv")
inp1= pd.read_csv("Dress+Sales.csv")

You have “Attribute DataSet” which contains a column named “Price”. Choose the correct statement from the following about its data type and variable type.
- Integer type and numerical variable
- Object type and categorical ordinal variable
- Object type and categorical nominal variable
- Float type and categorical variable.

There is another column in “Attribute DataSet” named as “Recommendation”, choose the correct statement about its data type and variable type.
- Integer type and categorical
- Object type and categorical
- Integer type and continuous numerical
- Object type only.

Which of the following column do you think are of no use in “Attribute DataSet”.
- Dress_ID
- Price
- Size and material
- NeckLine
- None of the above

In [103]:
# Print the information about the attributes of inp0 and inp1.
inp0.head()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,chiffonfabric,chiffon,bow,dot,0

In [104]:
inp1.head()

,Dress_ID,29-08-2013,31-08-2013,09-02-2013,09-04-2013,09-06-2013,09-08-2013,09-10-2013,09-12-2013,14-09-2013,...,24-09-2013,26-09-2013,28-09-2013,30-09-2013,10-02-2013,10-04-2013,10-06-2013,10-08-2013,10-10-2013,10-12-2013
0,1.006033e+09,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,3554,3624.0,3706,3746.0,3795.0,3832.0,3897,3923.0,3985.0,4048
1,1.212192e+09,151,275,570,750,813,1066,1164,1558,1756,...,2710,2942.0,3258,3354.0,3475.0,3654.0,3911,4024.0,4125.0,4277
2,1.190381e+09,6,7,7,7,8,8,9,10,10,...,11,11.0,11,11.0,11.0,11.0,11,11.0,11.0,11
3,9.660060e+08,1005,1128,1326,1455,1507,1621,1637,1723,1746,...,1878,1892.0,1914,1924.0,1929.0,1941.0,1952,1955.0,1959.0,1963
4,8.763395e+08,996,1175,1304,1396,1432,1559,1570,1638,1655,...,2032,2156.0,2252,2312.0,2387.0,2459.0,2544,2614.0,2693.0,2736

In [105]:
inp0.Price.describe()

count         477
unique          5
top       Average
freq          240
Name: Price, dtype: object

In [106]:
inp0.Recommendation.describe()

count    479.000000
mean       0.427975
std        0.495302
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: Recommendation, dtype: float64

### Fixing the Rows and Columns

As you can see, there is a column in “Attribute Dataset” named as ‘Size’. This column contains the values in abbreviation format. Write a code in Python to convert the followings:

- M into  “Medium”
- L into  “Large”
- XL into “Extra large”
- free into “Free”
- S, s & small into “Small”.

Now once you are done with changes in the dataset, what is the value of the lowest percentage, the highest percentage and the percentage of Small size categories in the column named “Size”?

In [107]:
# Column fixing, correcting size abbreviation. count the percentage of each size category in "Size" column.
def sizeChange(x):
    if x=="M":
        return "Medium"
    elif x== "L":
        return "large"
    elif x=="XL":
        return "Extra Large"
    elif x=="free":
        return "Free"
    elif x=="S" or x=="s" or x=="small":
        return "Small"
    else:
        return x

inp0.Size=inp0.Size.apply(sizeChange)

In [108]:
inp0.shape

(479, 13)

In [109]:
# Print the value counts of each category in "Size" co
# This is used to find the percentage of each catergory in the whole dataset.
inp0.Size.value_counts(normalize=True)

Medium         0.356994
Free           0.344468
large          0.194154
Small          0.075157
Extra Large    0.029228
Name: Size, dtype: float64

### Impute/Remove Missing values

In [110]:
# Print the null count of each variables of inp0 and inp1.
inp0.columns

Index(['Dress_ID', 'Style', 'Price', 'Rating', 'Size', 'Season', 'NeckLine',
       'SleeveLength', 'Material', 'FabricType', 'Decoration', 'Pattern Type',
       'Recommendation'],
      dtype='object')

In [111]:
inp0.Price.isnull().sum()

2

In [112]:
inp0.Season.isnull().sum()

2

In [113]:
inp0.NeckLine.isnull().sum()

3

In [114]:
inp0.SleeveLength.isnull().sum()

2

In [115]:
inp0.Material.isnull().sum()

119

In [116]:
inp0.FabricType.isnull().sum()

256

In [117]:
inp0.Decoration.isnull().sum()

224

In [118]:
inp0["Pattern Type"].isnull().sum()

102

You are given another dataset named “Dress Sales”. Now if you observe the datatypes of the columns using ‘inp1.info()’ command, you can identify that there are certain columns defined as object data type though they primarily consist of numeric data.

Now if you try and convert these object data type columns into numeric data type(float), you will come across an error message. Try to correct this error.

In [119]:
# Print the data types information of inp1 i.e. "Dress Sales" data.
inp1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Dress_ID    479 non-null    float64
 1   29-08-2013  479 non-null    int64
 2   31-08-2013  479 non-null    int64
 3   09-02-2013  479 non-null    int64
 4   09-04-2013  479 non-null    int64
 5   09-06-2013  479 non-null    int64
 6   09-08-2013  479 non-null    int64
 7   09-10-2013  479 non-null    int64
 8   09-12-2013  479 non-null    object
 9   14-09-2013  479 non-null    object
 10  16-09-2013  479 non-null    object
 11  18-09-2013  479 non-null    object
 12  20-09-2013  479 non-null    object
 13  22-09-2013  479 non-null    object
 14  24-09-2013  479 non-null    int64
 15  26-09-2013  257 non-null    float64
 16  28-09-2013  479 non-null    int64
 17  30-09-2013  222 non-null    float64
 18  10-02-2013  220 non-null    float64
 19  10-04-2013  221 non-null    float64
 20  10-06-2013  479 non-null    int64
 21  10-08-2013  224 non-null    float64
 22  10-10-2013  224 non-null    float64
 23  10-12-2013  479 non-null    int64
dtypes: float64(7), int64(11), object(6)
memory usage: 89.9+ KB

In [120]:
# Try to convert the object type into float type of data. YOU GET ERROR MESSAGE.
inp1.astype({"09-12-2013":"float"})

ValueError: could not convert string to float: 'Removed'

In [121]:
inp1["09-12-2013"].unique()
# Removed is persent in the data, Orders is also present in the data so we have to replace them first.

array(['3119', '1558', '10', '1723', '1638', '18', '251', '117', '17',
       '13', '65', '90', '1906', '2934', '49', '45', '1898', '12', '381',
       '227', '1248', '233', '1671', '5', '22', '1762', '105', '497',
       '7156', '1456', '279', '1004', '1244', '2321', '1706', '1744',
       '66', '569', '557', '156', '2930', '640', '878', '240', '112',
       '5475', '24', '1210', '4', '209', '218', '59', '1474', '921',
       '328', '567', '585', '359', '30', '8', '68', '2025', '293', '670',
       '375', '25', '415', '83', '369', '40', '826', '2366', '6', '73',
       '137', '1412', '393', '382', '14', '232', '401', '325', '308',
       '722', '16', '119', '174', '2', '0', '302', '808', '407', '237',
       '649', '1311', '348', '1966', '531', '81', '3544', '164', '1335',
       '72', '414', '134', '452', '221', '450', '1029', '1235', '7', '91',
       '665', '307', '169', '442', '217', '3', '264', '578', '194', '339',
       '165', '64', '132', '635', '113', '43', '1271', '460', '451', '41',
       '111', '549', '455', '1886', '61', '176', '280', '201', '488',
       '226', '472', '42', '386', '365', '664', '576', '356', '957',
       '204', '21', '224', '115', '103', '850', '46', '281', '559', '767',
       '343', '461', '1842', '202', '122', '350', '742', '114', '140',
       '37', '178', '283', '124', '74', '448', '36', '1115', '314', '188',
       '259', '144', '171', '449', '168', '377', '334', '500', '758', '1',
       '354', '52', '126', '31', '836', '865', '387', '85', '482', '362',
       '35', '298', '219', '320', '60', '270', '288', '1472', '118',
       '357', '70', '98', '146', '189', '273', 'Removed', '56', '210',
       '67', '54', '28', '57', '396', '215', '145', '89', '222', '96',
       '26', '87', '100', '129', '69', '101', '82', '29', '160', '62',
       '289', '123', '296', '158', '53', '786', '75', '58', '823', '148',
       '606', '9', '822', '253', '55', '50', '1111', '269', '562', '583',
       '324', '170', '199', '794', '39', '84', '121', '147', '93', '191',
       '195', '44', '669', '205', '420', '133', '385', '678', '243', '11',
       '97', '384', '213', '155', '15', '234', '27', '33', '131', '361',
       '321', '250', '92', '51', '683', '86', '19', '163', '143', '417',
       '23', '322', '149', '245', '139', '629', '187', '290', '645',
       '473', '239', '525', '694', '268'], dtype=object)

In [122]:
# Do the required changes in the "Dress Sales" data set to get null values on string values.
inp1.loc[inp1['09-12-2013']== 'Removed',"09-12-2013"] = np.NaN

inp1.loc[inp1['14-09-2013']== 'removed',"14-09-2013"] = np.NaN

inp1.loc[inp1['16-09-2013']== 'removed',"16-09-2013"] = np.NaN

inp1.loc[inp1['18-09-2013']== 'removed',"18-09-2013"] = np.NaN

inp1.loc[inp1['20-09-2013']== 'removed',"20-09-2013"] = np.NaN

inp1.loc[inp1['22-09-2013']== 'Orders',"22-09-2013"] = np.NaN

In [123]:
# Convert the object type columns in "Dress Sales" into float type of data type.
inp1=inp1.astype({"09-12-2013":"float",'14-09-2013':'float','16-09-2013':"float",'18-09-2013':'float', '20-09-2013':'float','22-09-2013':'float'})

When you see the null counts in “Dress Sales” dataset after performing all the operations that have been mentioned in jupyter notebook, you will find that there are some columns in “Dress Sales” data where there are more than 40% of missing values. Based on your understanding of dealing with missing values do the following steps.

In [124]:
# Print the null percetange of each column of inp1.
for col in inp1.columns:
    print(col,inp1[col].isnull().sum())

Dress_ID 0
29-08-2013 0
31-08-2013 0
09-02-2013 0
09-04-2013 0
09-06-2013 0
09-08-2013 0
09-10-2013 0
09-12-2013 1
14-09-2013 1
16-09-2013 1
18-09-2013 1
20-09-2013 1
22-09-2013 1
24-09-2013 0
26-09-2013 222
28-09-2013 0
30-09-2013 257
10-02-2013 259
10-04-2013 258
10-06-2013 0
10-08-2013 255
10-10-2013 255
10-12-2013 0

In [125]:
# Drop the columns in "Dress Sales" which have more than 40% of missing values.
inp1= inp1.drop(["26-09-2013"] , axis= 1)

inp1= inp1.drop(["30-09-2013"] , axis= 1)

inp1= inp1.drop(["10-02-2013"] , axis= 1)

inp1= inp1.drop(["10-04-2013"] , axis= 1)

inp1= inp1.drop(["10-08-2013"] , axis= 1)

inp1= inp1.drop(["10-10-2013"] , axis= 1)

# Missing Values
The data does not contain proper column name
You should categorise the dates into seasons in “Dress Sales” data to simplify the analysis according to the following criteria:
- June, July and August: Summer.
- September, October and November: Autumn.
- December, January and February: WInter.
- March, April and May: Spring.

In [126]:
# Create the four seasons columns in inp1, according to the above criteria.
summer= ['06','07','08']
autumn= ['10', '11']
winter= ['12', '01', '02']
spring=['03', '04', '05']

In [127]:
# calculate the sum of sales in each seasons in inp1 i.e. "Dress Sales".
s= 0
for col in inp1.columns[1:]:
    if col.split("-")[1] in summer:
        s+=inp1[col].sum()
print("Summer:" , s)

Summer: 691907

In [128]:
a= 0
for col in inp1.columns[1:]:
    if col.split("-")[1] in autumn:
        a+=inp1[col].sum()
print("Autumn:" , a)

Autumn: 153328

In [129]:
w= 0
for col in inp1.columns[1:]:
    if col.split("-")[1] in winter:
        w+=inp1[col].sum()
print("Winter:" , w)

Winter: 474683.0

In [130]:
sp= 0
for col in inp1.columns[1:]:
    if col.split("-")[1] in spring:
        sp+=inp1[col].sum()
print("Spring:" , sp)

Spring: 143600

In [131]:
# or 
inp1['Spring'] = inp1.apply(lambda x: x['09-04-2013'], axis=1)

inp1['Summer'] = inp1.apply(lambda x: x['29-08-2013'] + x['31-08-2013']+ x['09-06-2013']+ x['09-08-2013']+ x['10-06-2013'], axis=1)

inp1['Winter'] = inp1.apply(lambda x: x['09-02-2013'] + x['09-12-2013']+ x['10-12-2013'], axis=1)

inp1['Autumn'] = inp1.apply(lambda x: x['09-10-2013'] + x['14-09-2013']+ x['16-09-2013']+ x['18-09-2013']+ x['20-09-2013']+ x['22-09-2013']+ x['24-09-2013']+ x['28-09-2013'], axis=1)

In [132]:
inp1.shape

(479, 22)

Now let's merge inp1 with inp0 with left join manner, so that the information of inp0 should remain intact.

In [133]:
# Merge inp0 with inp1 into inp0. this is also called left merge.
inp0 = pd.merge(left=inp0,right=inp1, how='left', left_on='Dress_ID', right_on='Dress_ID')
inp0.head()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,Material,FabricType,...,20-09-2013,22-09-2013,24-09-2013,28-09-2013,10-06-2013,10-12-2013,Spring,Summer,Winter,Autumn
0,1006032852,Sexy,Low,4.6,Medium,Summer,o-neck,sleevless,NaN,chiffon,...,3386.0,3479.0,3554,3706,3897,4048,2660.0,13899.0,9658.0,26857.0
1,1212192089,Casual,Low,0.0,large,Summer,o-neck,Petal,microfiber,NaN,...,2106.0,2454.0,2710,3258,3911,4277,750.0,6216.0,6405.0,17311.0
2,1190380701,vintage,High,0.0,large,Automn,o-neck,full,polyster,NaN,...,10.0,11.0,11,11,11,11,7.0,40.0,28.0,82.0
3,966005983,Brief,Average,4.6,large,Spring,o-neck,full,silk,chiffon,...,1812.0,1845.0,1878,1914,1952,1963,1455.0,7213.0,5012.0,14411.0
4,876339541,cute,Low,4.5,Medium,Summer,o-neck,butterfly,chiffonfabric,chiffon,...,1824.0,1919.0,2032,2252,2544,2736,1396.0,7706.0,5678.0,14676.0

In [135]:
# Now Drop the Date columns from inp0 as it is already combined into four seasons.
inp0.drop(inp0.loc[:,'29-08-2013':'10-12-2013'].columns, axis= 1, inplace= True)
inp0.isnull().sum()

Dress_ID            0
Style               0
Price               2
Rating              0
Size                0
Season              2
NeckLine            3
SleeveLength        2
Material          119
FabricType        256
Decoration        224
Pattern Type      102
Recommendation      0
Spring              0
Summer              0
Winter              1
Autumn              2
dtype: int64

Print the null count of inp0 to get the idea about the missing values in data set.

In [99]:
# Print the null count of each columns in inp0 dataframe i.e. combined data frame of inp0 and inp1 without date columns.

You can see that there are two types of variables one with a large number of missing values and another is very less number of missing values. These two columns can be categorized as:

Type-1: Missing values are very less (around 2 or 3 missing values): Price, Season, NeckLine, SleeveLength, Winter and Autumn. 

Type-2: Missing values are large in numbers (more than 15%): Material, FabricType, Decoration and Pattern Type.

In [136]:
# Deal with the missing values of Type-1 columns: Price, Season, NeckLine, SleeveLength, Winter and Autumn.
inp0 = inp0[~inp0.Price.isnull()]

inp0 = inp0[~inp0.Season.isnull()]

inp0 = inp0[~inp0.NeckLine.isnull()]

inp0 = inp0[~inp0.SleeveLength.isnull()]

inp0 = inp0[~inp0.Winter.isnull()]

inp0 = inp0[~inp0.Autumn.isnull()]

In [137]:
# Deal with the missing values for Type-2 columns: Material, FabricType, Decoration and Pattern Type.
inp0.Material= inp0.Material.replace(np.nan, "Missing")

inp0.FabricType= inp0.FabricType.replace(np.nan, "Missing")

inp0.Decoration= inp0.Decoration.replace(np.nan, "Missing")

inp0['Pattern Type']= inp0['Pattern Type'].replace(np.nan, "Missing")

### Standardise value

In the given dataset, there are certain discrepancies with the categorical names such as irregular spellings. Choose the correct option of columns with irregular categories and update them.
 
- Season, NeckLine
- Price, Material
- fabricType, Decoration
- Season, SleeveLength

In [138]:
inp0.Season.unique()
#correcting the spellings.

array(['Summer', 'Automn', 'Spring', 'Winter', 'spring', 'winter',
       'Autumn'], dtype=object)

In [140]:
inp0.SleeveLength.unique()
#correcting the Spellings.

array(['sleevless', 'Petal', 'full', 'butterfly', 'short', 'threequarter',
       'halfsleeve', 'cap-sleeves', 'turndowncollor', 'threequater',
       'capsleeves', 'sleeveless', 'sleeevless', 'half', 'urndowncollor',
       'thressqatar', 'sleveless'], dtype=object)

In [141]:
inp0.SleeveLength= inp0.SleeveLength.replace(['cap-sleeves', 'capsleeves'], "cap sleeves")

inp0.SleeveLength= inp0.SleeveLength.replace('full', "full sleeves")

inp0.SleeveLength= inp0.SleeveLength.replace(['half','halfsleeve'], "half sleeves")

inp0.SleeveLength= inp0.SleeveLength.replace(['sleevless', 'sleeevless', 'sleeveless', 'sleveless'], "sleeve less")

inp0.SleeveLength= inp0.SleeveLength.replace(['threequarter','threequater', 'thressqatar'], "three quater")

inp0.SleeveLength= inp0.SleeveLength.replace(['turndowncollor','urndowncollor'], "turn down collar")

## Univariate Analysis

### Categorical Unordered Univariate Analysis

There is a column named ‘Style’ in ‘Attribute Dataset’ which consists of the different style categories of the women apparels. Certain categories whose total sale is less than 50000 across all the seasons is considered under one single category as ‘Others’.

Which of the following categories in ‘Style’ column can be grouped into ‘Others’ category? and perform the grouping operation in the notebook for further analysis.
- Flare, fashion
- Novelty, bohemian
- OL, fashion, work
- Novelty, fashion, Flare

In [2]:
# Group "Style" categories into "Others" which have less than 50000 sales across all the seasons.

What is the percentage of “cute” and “Others” category in “Style” column in “Attribute DataSet” respectively?
- 46%, 5%
- 9%, 2.1%
- 2.1%, 5%
- 13.8%, 9%

In [ ]:
# Calculate the percentage of each categories in the "Style" variable.

Similarly Club Neckline, SLeeve length categories into "Others" which have less than 50000 sales across all the seasons.

In [ ]:
# Group "Neckline" categories into "Others" which have less than 50000 sales across all the seasons.

In [ ]:
# Group "Sleeve length" categories into "Others" which have less than 50000 sales across all the seasons.

Club material, fabrictype, patterntype and decoration categories into "Others" which have less than 25000 sales across all the seasons

In [ ]:
# Group "material" categories into "Others" which have less than 25000 sales across all the seasons.

In [ ]:
# Group "fabric type" categories into "Others" which have less than 25000 sales across all the seasons.

In [ ]:
# Group "patern type" categories into "Others" which have less than 25000 sales across all the seasons.

In [ ]:
# Group "decoration" categories into "Others" which have less than 25000 sales across all the seasons.

### Caregorical Ordered Univariate Analysis

Which of the following is an unordered variable in “Attribute DataSet”.
- Style
- Price
- Season
- Size

### Numerical variable Univariate analysis:

What is the approximate difference between the maximum value and 75th percentile in “Autumn” column.
- Approx 54000
- Approx 55000
- Approx 52000
- Approx 50000

In [ ]:
# Describe the numerical variale: "Autumn".

In [ ]:
# plot the boxplot of "Autumn" column.

Which of the following season has the highest difference between the maximum value and 99th quantile of sales?
- Winter
- Summer
- Spring
- Autumn

In [ ]:
# Find the maximum and 99th percentile of Winter season.

In [ ]:
# Find the maximum and 99th percentile of Summer season.

In [ ]:
# Find the maximum and 99th percentile of Spring season.

In [ ]:
# Find the maximum and 99th percentile of Autumn season.

## Bivariate Analysis

### Numerical- Categorical analysis

Which of the following “Price” category has the lowest average value of rating?
- very-high
- Medium
- Low
- High

In [ ]:
# Find the Mean of Ratings for each Price category.

What is the median of the rating of “vintage” category in Style column?
- 4.6
- 4.7
- 4.55
- 0.00

In [ ]:
# Find the median of Ratings for each Style category.

Which of the following season has the highest average value of sale for “Recommendation” value equals to 1.
- Summer
- Spring
- Autumn
- Winter

In [ ]:
# Summer sale vs Recommendation.

In [ ]:
# Spring sale vs Recommendation.

In [ ]:
# Autumn sale vs Recommendation.

In [ ]:
# Winter sale vs Recommendation.

### Categorical categorical bivariate analysis

Which of the following size categories has the highest positive recommendations?
- Medium and extra large
- Extra large and small
- Free and small
- Free and medium

In [ ]:
# Size vs Recommendation.

### Multivariate analysis

Which of the following pair of “Style” and “Price” category has the highest average of positive recommendations?
- Price: medium and style: vintage
- Price: medium and style: cute
- Price: very high and style: party
- Price: low and style: sexy

In [ ]:
# plot the heat map of Style, price and Recommendation.

Which of the following material type has no recommendation in summer and winter seasons?
- Mix and Milksilk
- Nylon and Rayon
- Microfiber and Silk
- Milksilk and Microfiber

In [ ]:
# plot the heat map of Season, material and Recommendation.